<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewsport"
        content="width = device-width, user-scable=no, initial-scale=1.0, maximum-scale1.0, minimun-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title><%= title%></title>
  </head>
  <style media="screen">
    .table-wrapper{
      margin-top : 50px;
    }
    .player-img{
      width : 40px;
      heigth : 40px;
    }
    .add-player-form{
      margin-top : 50px;
    }
  </style>
  <body>
    <div class="page-wrapper">
      <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"> <a href="/">Socka Players</a> </span>
        <a class="front-right" href="/add" title ="Add new Player" > Add a Player </a>
      </nav>
